/* All */
* {
    margin: 0 auto;
    box-sizing: border-box;

    color: #3D3D3D; /* Cinza escuro */
    font-family: "Cinzel", system-ui;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #FFF9E5; /* Amarelo claro */
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    max-width: 100vw;
}

.container {
    height: 100%;
    width: 100%;
}

/* Header */
header {
    height: 20%;
    background-color: #FFCC00; /* Amarelo ouro */
    display: flex;
    align-items: center;
}

header .title {
    display: flex;
    align-items: center;
}

header .title p {
    color: white;
    font-weight: 650;
    font-size: 1.5rem;
}

/* Main */
main {
    background-color: white;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_area {
    max-width: 60%;
    max-height: 60%;
    height: 500px;
    width: 500px;

    border: #FFCC99 solid; /* Laranja claro */
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.login_area .login_title {
    color: #3D3D3D; /* Cinza escuro */
    font-weight: 900;
    font-size: 1.25rem;
}

.login_area .login {
    max-width: 100%;
    max-height: 100%;
}

.login_area .login form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.login_area .login form span {
    display: flex;
    justify-content: center;
}

.login_area input[type=text] {
    margin-top: 0.25rem;
    width: 95%;
    height: 35px;
    background-color: #FFF4D9; /* Amarelo pastel */
    color: #3D3D3D; /* Cinza escuro */
    font-weight: 900;
    border: 1px solid #FFCC99; /* Laranja claro */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login_area .submit {
    display: flex;
    flex-direction: column;
}

.login_area .submit .send {
    margin-top: 1rem;
    color: white;
    height: 35px;
    width: 100%;
    border: none;
    background-color: #FF9900; /* Laranja */
    font-weight: bold;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.login_area .submit .send:hover {
    background-color: #FFD633; /* Amarelo forte */
    transform: scale(1.05); /* Aumenta o botão */
}

.login_area .submit .create {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: white;
    height: 20px;
    width: 100%;
    border: none;
    background-color: #FF9900; /* Laranja */
    font-size: 0.75rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.login_area .submit .create:hover {
    background-color: #FFD633; /* Amarelo forte */
    transform: scale(1.05); /* Aumenta o botão */
}

/* Footer */
footer {
    background-color: #FFCC00; /* Amarelo ouro */
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.author a {
    color: white;
    font-size: 0.75rem;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
