{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change</title>
    <link rel="stylesheet" href="{% static 'app_change_account/css/change_account_screen.css' %}">
    <link rel="shortcut icon" href="{% static 'app_change_account/img/login_24px_white.svg' %}">
</head>
<body>
    <div class="container">
 
        <header>
            <div class="title">
                <div class="title_img"><img src="{% static 'app_change_account/img/tv_sign_48_black.svg' %}" alt="tv_sign_24"></div>
                <p>Change Me Django</p>
            </div>
        </header>

        <main>
            <div class="password_change_area">
                <div class="change_title">Change</div>
                <div class="change">
                    <form action="{% url 'changeMe' %}" name="login_credentials" method="POST">{% csrf_token %}
                        <span class="name">
                            <input type="text" placeholder="Nome" name="user_name">
                        </span>
                        <span class="password">
                            <input type="text" placeholder="Senha Atual" name="user_pass">
                        </span>
                        <span class="confirm_password">
                            <input type="text" placeholder="Nova Senha" name="user_new_pass">
                        </span>
                        <span class="submit">
                            <input type="submit" name="Enviar">
                        </span>
                    </form>
                </div>
            </div>
        </main>

        <footer>
            <div class="author">
                <a href="https://www.github.com/pedrobolfute" target="_blank">
                    @Pedrobolfute
                </a>
            </div>
        </footer>
    </div>
    <script src="{% static 'app_change_account/js/change_account_screen.js' %}"></script>
</body>
</html>