{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app_admin/css/admin_screen.css' %}">
    <link rel="shortcut icon" href="{% static 'app_admin/img/adm_64_black.svg' %}">
    <title>ADM EveryOne</title>
</head>

<body>
    <header>
        <div class="container">
            <span>
                <h2>Area destinada a administradores!</h2>
            </span>
        </div>
    </header>
    <main>
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Senha atual</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> ... </td>
                        <td> ... </td>
                        <td> ... </td>
                        <td> ... </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    <footer>
        <div class="container">
            <span>
                <h3>@pedrobolfute</h3>
            </span>
        </div>
    </footer>

    <script src="./admin_screen.js"></script>
</body>

</html>