{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <!--Normalize css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />


  <!--Font roboto-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap" rel="stylesheet">
  
  <!--Nosso css-->
  <link rel="stylesheet" href="{% static 'app_welcome/css/welcome_screen_global.css' %}">


  <title>Fazenda</title>
</head>
<body>
  
  <section class="content">
    <h1>Animais</h1>

    <ol class="animals">
      <li class="animal add">
        <span class="number">#000</span>
        <span class="name">Adicionar</span>

        <div class="detail">
          <ol class="types">
            <li class="type">tipo 1</li>
            <li class="type">tipo 2</li>
          </ol>

          <img src="{% static 'app_welcome/img/add.svg' %}" alt="Bullbasaur">
        </div>

        <form class="animal-form" style="display: none;">
          <label for="animal-select">Escolha o animal:</label>
          <select id="animal-select" name="animal">
            <option value="boi">Boi</option>
            <option value="vaca">Vaca</option>
            <option value="cavalo">Cavalo</option>
            <option value="porco">Porco</option>
            <option value="galinha">Galinha</option>
            <option value="peixe">Peixe</option>
          </select>
      
          <label for="animal-color">Cor do animal:</label>
          <input type="text" id="animal-color" name="color" placeholder="Digite a cor do animal">
          <input type="hidden" id="owner">
      
          <button type="submit">Adicionar</button>
        </form>

      </li>


      <li class="animal">
        <span class="number">#001</span>
        <span class="name">Bullbasaur</span>

        <div class="detail">
          <ol class="types">
            <li class="type">Capim</li>
            <li class="type">Ração</li>
          </ol>

          <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/1.svg" alt="Bullbasaur">
        </div>
      </li>      
    </ol>
  </section>



  <!-- JavaScript -->
  <script src="{% static 'app_welcome/js/welcome_screen_component_header-simple.js' %}"></script>

  
</body>
</html>